<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <title>Hello {{ name }}.</title>
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <p>Hello {{ name }}.</p>
        <div id="push"></div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="credit">
          <ul class="inline">
            <li><a href="http://scifiapi.com/">api</a></li>
            <li><a href="http://www.mentatjack.com">blog</a></li>
            <li>tagShadow</li>
          </ul>
        </p>
      </div>
    </div>
    <script src="../assets/js/bootstrap.js">
  </body>
</html>
